.container-select{
 display: flex;
  width: 100%;
  height: 50px;
  justify-content: end;
  align-items: center;  
  gap: 10px;
  text-align: end;
  background-color: aqua;

  font: 2em sans-serif;
  color: $color-blue-dark-b4;


}


