
//Colors ->
$color-white: #ffffff;
$color-gray: #BEC3CF;
$color-blue-dark: #070C1B;
$color-blue-dark-b4: #091B49;
$color-black: #000000;
$color-blue: #42A2E8;
$color-blue-c4: #2581C4;
$color-red: #83080c;

